{% extends 'navbar.html' %}

{% block content %}

    <main class="bg-neutral-300 px-5 md:px-10 h-max ">
        <div class="space-y-5 mt-10">
            <form action="" method="post">
                {% csrf_token %}

                <input class="p-2 pl-5 rounded-md font-bold" type="text" placeholder="Enter title" name="title" id="title">

                <br> <br>
                <textarea class="w-[90vw] rounded-lg p-5" name="data" placeholder="Enter here...." id="data" cols="30" rows="10"></textarea>
                <button class="p-2 px-5 bg-rose-900 rounded-lg  text-white" type="submit"> Upload </button>

            </form>
        </div>
        
</main>

{% endblock content %}