{% extends 'navbar.html' %}

{% block content %}

    <main class="bg-neutral-300 px-5 md:px-10 h-max ">
        <div class="space-y-5 mt-10">
            <form action="">
                <input class="p-2 pl-5 rounded-md font-bold" type="text" placeholder="Enter title">
            </form>
            <form  action="">
                
                <textarea class="w-[90vw] rounded-lg p-5" name="" placeholder="Enter here...." id="" cols="30" rows="10"></textarea>
            </form>
            <button class="p-2 px-5 bg-rose-900 rounded-lg  text-white ">submit</button>
        </div>
        
</main>

{% endblock content %}