{% extends 'navbar.html' %}

{% block content %}
<main class="bg-neutral-300 px-5 md:px-10 h-max flex justify-center">
    <div class="bg-white w-fit rounded-xl h-fit mt-[20vh] shadow-lg">
    <form class="space-y-5 p-5 flex-col justify-center" action="" method="POST">
        {% csrf_token %}
        <input class="items-center rounded-md p-3 shadow-md" type="text" placeholder="E-mail" name="username">
        <br>
        <input class="items-center rounded-md p-3 shadow-md" type="password" placeholder="password" name="password">
        <br>
        <button class="items-center rounded-md bg-rose-700 shadow-md text-gray-100 p-2 w-full">submit</button>
    </form>
    </div>
</main>

{% endblock content %}