<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sukhan</title>
    
</head>

<body class="bg-neutral-300 w-[100%] h-[100%] overflow-x-hidden m-0 p-0 min-w-[367px] max-w-[101%]">
    {%load static%}
    <section class="header">
        <nav class=" bg-rose-950 sm:flex md:flex-row justify-between p-3  text-white">
            <div class="flex justify-center sm:justify-start sm:container">
            <div class="flex sm:items-center static sm:ml-5"><a href="{% url 'home' %}"><img class="h-10 w-25 m-2 rounded-md" src="{% static 'images/sukhan.png' %}" alt="Sukhan"></a>
            </div>

            <!-- SEARCH BAR UPADTE:2 -->

            <!-- <form class="" action="" method="post">
                <input class="w-[50vw] rounded-xl bg-rose-900 px-5 py-1 ml-[5vw]  " type="text" placeholder="search">
            </form> -->
        </div>
        <div class="flex mx-5 justify-center py-3">
                <ul class=" flex space-x-8 ">
                    <li class="hover:bg-rose-900 rounded-md  m-1 cursor-pointer "><a href="{% url 'home' %}">Home</a></li>
                    <li class="hover:bg-rose-900 rounded-md  m-1 cursor-pointer "><a href="{% url 'poets' %}">Poets</a></li>
                    <li class="hover:bg-rose-900 rounded-md  m-1  cursor-pointer"><a href="{% url 'read' %}">Read</a></li>
                    {% if user.is_authenticated %}
                        <li class="hover:bg-rose-900 rounded-md  m-1 cursor-pointer "><a href="{% url 'contact' %}">Contact</a></li>
                        <li class="bg-rose-900 rounded-md  m-1 cursor-pointer "><a href="/poets/{{user.first_name}}-{{user.last_name}}">{{user.first_name}}</a></li>
                    {% else %}
                        <li class="hover:bg-rose-900 rounded-md  m-1 cursor-pointer "><a href="{% url 'login' %}">Login</a></li>
                        <li class="hover:bg-rose-900 rounded-md  m-1 cursor-pointer "><a href="{% url 'contact' %}">Contact</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </section>


    </div>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
    </div>

<footer class="bg-neutral-300" ><div>.</div> </footer>

</body>

</html>
<!-- py-7 flex justify-center bg-neutral-200  -->