<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dekhta</title>
    
</head>

<body>
    {%load static%}
    <section class="header">
        <nav class=" bg-rose-950 sm:flex md:flex-row justify-between p-5 text-white">
            <div class="flex items-center  md:container">
                <div class="flex items-center w-auto static"><img class="h-10" src="{% static 'images/feather-pen.png' %}" alt="">
                    <p class="font-bold rounded-md text-black w-16 px-1 bg-neutral-300 hover:bg-black hover:text-rose-400 cursor-pointer"><a href="{% url 'home' %}">Dekhta</a></p>
                </div>
                <form class="" action="index.html" method="post">
                    <input class="w-[50vw] rounded-xl bg-rose-900 pl-5 ml-[10vw] " type="text" placeholder="search">
                </form>
            </div>
            <div class="flex">
                <ul class=" flex space-x-8  px-[7vw] ">
                    <li class="hover:bg-rose-900 rounded-md  p-1 cursor-pointer "><a href="{% url 'home' %}">Home</a></li>
                    <li class="hover:bg-rose-900 rounded-md  p-1 cursor-pointer "><a href="{% url 'poets' %}">Poets</a></li>
                    <li class="hover:bg-rose-900 rounded-md  p-1  cursor-pointer">Read</li>
                    <li class="hover:bg-rose-900 rounded-md  p-1 cursor-pointer ">Login</li>
                    <li class="hover:bg-rose-900 rounded-md  p-1 cursor-pointer ">Contact</li>
                </ul>
            </div>
        </nav>
    </section>


    </div>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
    </div>

<footer class="py-9 flex justify-center bg-neutral-200">
    <div class="">@qalam_e_abd</div>
</footer>
</body>

</html>