<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body class="bg-neutral-300 w-[100%] h-[100%] overflow-x-hidden m-0 p-0 min-w-[367px] max-w-[101%]">
    <nav class=" bg-rose-950 sm:flex md:flex-row justify-between p-3  text-white">
        <div class="flex items-center  sm:container">
            <div class=" static"><img class="h-10 w-20 m-2 rounded-md" src="1.png" alt="Sukhan">
            </div>
            <form class="" action="index.html" method="post">

                <input class="w-full sm:w-[50vw] rounded-xl bg-rose-900 px-5 py-1 ml-[5vw]  " type="text"
                    placeholder="search">
            </form>
        </div>
        <div class="flex mx-5 justify-center py-3">
            <ul class=" flex space-x-8   ">
                <li class="hover:bg-rose-900 rounded-md m-1 cursor-pointer">Home</li>
                <li class="hover:bg-rose-900 rounded-md m-1 cursor-pointer">Poets</li>
                <li class="hover:bg-rose-900 rounded-md m-1 cursor-pointer">Read</li>
                <li class="hover:bg-rose-900 rounded-md m-1 cursor-pointer">Login</li>
                <li class="hover:bg-rose-900 rounded-md m-1 cursor-pointer">Contact</li>
            </ul>
        </div>
    </nav>

    <main class="bg-neutral-300 px-5 md:px-10 h-max ">
        <div class="space-y-4 mt-10">
           <h1 class="  p-2 pl-5 rounded-md font-bold">TITLE</h1>
           <div class="p-5">
           <p >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<hr>
            Qui quam alias veniam! Aspernatur explicabo, 
            <hr class="">
            

            neque soluta in, iste aut sit voluptatibus repellendus, 
            <hr>
            ratione expedita odit provident fugit voluptate cum officia?</p> 
           </div>
           <button class="p-2 mx-5 px-5 bg-rose-900 rounded-lg  text-white ">back</button>
        </div>

        

    </main>
    <footer class="bg-neutral-300">
        <div>.</div>
    </footer>

</body>

</html>