<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <nav class=" bg-rose-950 sm:flex md:flex-row justify-between p-5 text-white">
        <div class="flex items-center  md:container">
            <div class="flex items-center w-auto static"><img class="h-10" src="feather-pen.png" alt="">
                <p class="font-bold rounded-md text-black w-16 px-1 bg-neutral-300 hover:bg-black hover:text-rose-400  cursor-pointer">Dekta </p>
            </div>
            <form class="" action="index.html" method="post">
                <input class="w-[50vw] rounded-xl bg-rose-900 pl-5 ml-[10vw] p-1" type="text" placeholder="search">
            </form>
        </div>
        <div class="flex">
            <ul class=" flex space-x-6  px-[7vw] ">
                <li class="hover:bg-rose-900 rounded-md  p-1 cursor-pointer "><a href="/index.html">Home</li>
                <li class="hover:bg-rose-900 rounded-md  p-1 cursor-pointer "><a href="/index.html"></a>Poets</li>
                <li class="hover:bg-rose-900 rounded-md  p-1  cursor-pointer"><a href="/index.html"></a>Read</li>
                <li class="hover:bg-rose-900 rounded-md  p-1 cursor-pointer " ><a href="/login.html">Login</a></li>
                <li class="hover:bg-rose-900 rounded-md  p-1 cursor-pointer "><a href="/contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>

    <main class="bg-neutral-300 px-5 md:px-10 h-[85vh] flex justify-center">
     <div class="bg-white w-fit rounded-xl h-fit mt-[10vh] shadow-lg">
        <form class="space-y-5 p-5 flex-col justify-center" action="login.html" method="post">
            <input class="items-center rounded-md p-3  shadow-md " type="text" placeholder="name">
            <br>
            <input class="items-center rounded-md p-3 shadow-md " type="email" placeholder="email">
            <br>
            <textarea class="items-center rounded-md p-3 min-w-full shadow-md " placeholder="comment...." cols="30" rows="10"></textarea>
            <button class="items-center rounded-md bg-rose-700 text-gray-100 p-2 w-full shadow-md">submit</button>
        </form>
     </div>
    </main>

    <footer class="py-9 flex justify-center bg-neutral-200">
<div class="">@qalam_e_abd</div>
    </footer>
</body>

</html>